<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆</title>
</head>
<body>
<div id="user_page">
  <form id="form_user" action="/action/user/hash_login" method="POST">
    <h2>登录点餐喽</h2>
    <table>
		<tbody><tr>
			<th></th>
			<td><div id="error_msg" class="error_msg" style="display:none;"></div></td>
		</tr>
    	<tr>
    		<th nowrap="">用户名：</th>
			<td><input type="text" name="email" id="f_email" class="TEXT" placeholder="用户名" value="" style="width:200px;"></td>
    	</tr>
    	<tr>
    		<th>密码：</th>
    		<td><input type="password" name="pwd" id="f_pwd" class="TEXT" placeholder="密码" style="width:200px;"></td>
    	</tr>
    	<tr>
    		<th>&nbsp;</th>
    		<td><input type="checkbox" name="save_login" value="1" >是否是管理员</td>
    	</tr>
    	<tr class="buttons">
    		<th>&nbsp;</th>
			<td>
    		<input type="submit" value="现在登录" class="BUTTON SUBMIT">&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
    	</tr>
    </tbody></table>
  </form>
    <div id="login_reg">
        没有帐号？ <a href="/home/reg">注册</a>
    </div>
</div>
    <script src="http://libs.baidu.com/jquery/2.0.3/jquery.js"></script>
</body>
</html>
